*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #311046;
}
.form-h-div{
    font-size: 25px;
    color: rgb(255, 255, 255);
    transform: translate(40%, 50%);
}
.form-section{
    padding: 50px 50px 100px;
    width: 50%;
    background-color: rgb(255, 81, 0);
    position: relative;
    /* top: 50%;
    left: 50%; */
    transform: translate(50%, 20%);
    margin-bottom: 120px;
}
.form-div{
    padding: 10px 20px;
    margin: auto;

}
.form-label{
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.form-input{
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    border: 2px rgb(255, 0, 0) solid;
}
.form-btn{
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 30px;
    position: absolute;
    left: 25%;
    margin-top: 20px;
}
.form-btn:hover{
    background-color: #007c29;
}